*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/packages/*

SpawnableItemFetcher/.vs
SpawnableItemFetcher/SpawnableItemFetcher/bin/*
SpawnableItemFetcher/SpawnableItemFetcher/obj/*
SpawnableItemFetcher/SpawnableItemFetcher/SpawnableItemFetcher.csproj.user
SpawnableItemFetcher/SpawnableItemFetcherGUI/bin/*
SpawnableItemFetcher/SpawnableItemFetcherGUI/obj/*
SpawnableItemFetcher/SpawnableItemFetcherGUI/SpawnableItemFetcher.csproj.user

.tags