// This is structured slightly differently from how SIP mods do their
// categories because we want the order not to be randomized.
[{
    "Vanity:": [{
        "image": "/interface/sip/categories/vanityhat.png",
        "selectedImage": "/interface/sip/categories/vanityhatselected.png",
        "categories": ["headwear", "head"]
      }, {
        "image": "/interface/sip/categories/vanitychest.png",
        "selectedImage": "/interface/sip/categories/vanitychestselected.png",
        "categories": ["chestwear", "chest"]
      }, {
        "image": "/interface/sip/categories/vanitypants.png",
        "selectedImage": "/interface/sip/categories/vanitypantsselected.png",
        "categories": ["legwear", "legs"]
      }, {
        "image": "/interface/sip/categories/vanityback.png",
        "selectedImage": "/interface/sip/categories/vanitybackselected.png",
        "categories": ["backwear", "back"]
      }
    ]
  }, {
    "Armor:": [{
        "image": "/interface/sip/categories/armorhelm.png",
        "selectedImage": "/interface/sip/categories/armorhelmselected.png",
        "categories": ["headarmour", "head"]
      }, {
        "image": "/interface/sip/categories/armorchest.png",
        "selectedImage": "/interface/sip/categories/armorchestselected.png",
        "categories": ["chestarmour", "chest"]
      }, {
        "image": "/interface/sip/categories/armorpants.png",
        "selectedImage": "/interface/sip/categories/armorpantsselected.png",
        "categories": ["legarmour", "legs"]
      }, {
        "image": "/interface/sip/categories/envirormental.png",
        "selectedImage": "/interface/sip/categories/envirormentalselected.png",
        "categories": "enviroprotectionpack"
      }
    ]
  }, {
    "Combat:": [{
        "image": "/interface/sip/categories/weapons.png",
        "selectedImage": "/interface/sip/categories/weaponsselected.png",
        "categories": [
          "melee", "broadsword", "fistweapon", "chakram",
          "axe", "dagger", "hammer", "spear",
          "shortsword", "whip"
        ]
      }, {
        "image": "/interface/sip/categories/gun.png",
        "selectedImage": "/interface/sip/categories/gunselected.png",
        "categories": [
          "ranged", "sniperrifle", "boomerang", "bow",
          "shotgun", "assaultrifle", "machinepistol", "rocketlauncher",
          "pistol", "grenadelauncher", "staff", "wand"]
      }, {
        "image": "/interface/sip/categories/throwables.png",
        "selectedImage": "/interface/sip/categories/throwablesselected.png",
        "categories": ["throwableitem", "thrownitem"]
      }, {
        "image": "/interface/sip/categories/shields.png",
        "selectedImage": "/interface/sip/categories/shieldsselected.png",
        "categories": "shield"
      }
    ]
  }, {
    "Equipment:": [{
        "image": "/interface/sip/categories/tech.png",
        "selectedImage": "/interface/sip/categories/techselected.png",
        "categories": ["tech", "vehiclecontroller", "railplatform"]
      }, {
        "image": "/interface/sip/categories/upgrade.png",
        "selectedImage": "/interface/sip/categories/upgradeselected.png",
        "categories": ["upgrade", "shiplicense", "unlock", "blueprint"]
      }, {
        "image": "/interface/sip/categories/activatable.png",
        "selectedImage": "/interface/sip/categories/activatableselected.png",
        "categories": ["mysteriousreward", "toy", "clothingdye"]
      }, {
        "image": "/interface/sip/categories/consumable.png",
        "selectedImage": "/interface/sip/categories/consumableselected.png",
        "categories": ["consumable", "medicine", "drink", "food", "preparedfood"]
      }, {
        "image": "/interface/sip/categories/instrument.png",
        "selectedImage": "/interface/sip/categories/instrumentselected.png",
        "categories": ["musicalinstrument", "instrument"]
      }, {
        "image": "/interface/sip/categories/tool.png",
        "selectedImage": "/interface/sip/categories/toolselected.png",
        "categories": [
          "tools", "tool", "fishingrod", "fishinglure", "fishingreel",
          "miningtool", "flashlight", "wiretool", "beamaxe", "tillingtool",
          "painttool", "harvestingtool", "inspectiontool"
        ]
      }, {
        "image": "/interface/sip/categories/mech.png",
        "selectedImage": "/interface/sip/categories/mechselected.png",
        "categories": ["mechpart"]
      }, {
        "image": "/interface/sip/categories/augment.png",
        "selectedImage": "/interface/sip/categories/augmentselected.png",
        "categories": ["eppaugment", "petcollar", "augment"]
      }
    ]
  }, {
    "Items:": [{
        "image": "/interface/sip/categories/silver.png",
        "selectedImage": "/interface/sip/categories/silverselected.png",
        "categories": ["ingredients", "craftingmaterial", "cookingingredient", "upgradecomponent"]
      }, {
        "image": "/interface/sip/categories/fossil.png",
        "selectedImage": "/interface/sip/categories/fossilselected.png",
        "categories": ["fossils", "smallfossil", "mediumfossil", "largefossil"]
      }, {
        "image": "/interface/sip/categories/codices.png",
        "selectedImage": "/interface/sip/categories/codicesselected.png",
        "categories": "codex"
      }, {
        "image": "/interface/sip/categories/other.png",
        "selectedImage": "/interface/sip/categories/otherselected.png",
        "categories": [
          "miscellaneous", "quest", "junk", "currency", "trophy", "tradingcard", "item"
        ]
      }
    ]
  }, {
    "Building:": [{
        "image": "/interface/sip/categories/matitems.png",
        "selectedImage": "/interface/sip/categories/matitemsselected.png",
        "categories": [
          "blocks", "block", "materials", "liqitem", "supports", "railpoint", "matitem"
        ]
      }, {
        "image": "/interface/sip/categories/platforms.png",
        "selectedImage": "/interface/sip/categories/platformsselected.png",
        "categories": "platform"
      }, {
        "image": "/interface/sip/categories/liquids.png",
        "selectedImage": "/interface/sip/categories/liquidsselected.png",
        "categories": ["liquid", "liqitem"]
      }, {
        "image": "/interface/sip/categories/furniture.png",
        "selectedImage": "/interface/sip/categories/furnitureselected.png",
        "categories": "furniture"
      }, {
        "image": "/interface/sip/categories/decoratives.png",
        "selectedImage": "/interface/sip/categories/decorativesselected.png",
        "categories": [
          "decorative", "actionfigure", "artifact", "breakable", "bug"
        ]
      }, {
        "image": "/interface/sip/categories/crafting.png",
        "selectedImage": "/interface/sip/categories/craftingselected.png",
        "categories": "crafting"
      }, {
        "image": "/interface/sip/categories/spawner.png",
        "selectedImage": "/interface/sip/categories/spawnerselected.png",
        "categories": "spawner"
      }, {
        "image": "/interface/sip/categories/doors.png",
        "selectedImage": "/interface/sip/categories/doorsselected.png",
        "categories": "door"
      }, {
        "image": "/interface/sip/categories/chests.png",
        "selectedImage": "/interface/sip/categories/chestsselected.png",
        "categories": ["storage", "fridgestorage"]
      }, {
        "image": "/interface/sip/categories/lights.png",
        "selectedImage": "/interface/sip/categories/lightsselected.png",
        "categories": "light"
      }, {
        "image": "/interface/sip/categories/traps.png",
        "selectedImage": "/interface/sip/categories/trapsselected.png",
        "categories": "trap"
      }, {
        "image": "/interface/sip/categories/wired.png",
        "selectedImage": "/interface/sip/categories/wiredselected.png",
        "categories": "wire"
      }, {
        "image": "/interface/sip/categories/produce.png",
        "selectedImage": "/interface/sip/categories/produceselected.png",
        "categories": ["produce", "sapling", "seed"]
      }, {
        "image": "/interface/sip/categories/terraformer.png",
        "selectedImage": "/interface/sip/categories/terraformerselected.png",
        "categories": "terraformer"
      }, {
        "image": "/interface/sip/categories/other.png",
        "selectedImage": "/interface/sip/categories/otherselected.png",
        "categories": ["other", "generic", "teleportmarker", "teleporter", "object"]
      }, {
        "image": "/interface/sip/categories/captioned.png",
        "selectedImage": "/interface/sip/categories/captionedselected.png",
        "categories": [""],
        "caption": "No\ncategory"
      }
    ]
  }
]
