{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/sip/header.png",
			"fileBody": "/interface/sip/body.png",
			"fileFooter": "/interface/sip/footer.png"
		},
		"windowtitle": {
			"type": "title",
			"title": "  Spawnable Item Pack",
			"subtitle": "  ^#b9b5b2;Spawn anything, for free!",
			"icon": {
				"type": "image",
				"file": "/interface/sip/icon.png",
				"zlevel": -1
			}
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"callback": "close",
			"position": [321, 226]
		},

		"sipLabelSelectItem": {
			"type": "label",
			"position": [85, 208],
			"hAnchor": "mid",
			"vAnchor": "bottom",
			"zlevel": 20,
			"value": "^white,shadow;Select an item"
		},
		"sipItemScroll": {
			"type": "scrollArea",
			"zlevel": 20,
			"rect": [3, 42, 173, 207],
			"children": {
				"sipItemList": {
					"type": "list",
					"callback": "sip.callback.selectItem",
					"schema": {
						"selectedBG": "/interface/sip/itemselected.png",
						"unselectedBG": "/interface/sip/itembackground.png",
						"spacing": [0, 1],
						"memberSize": [161, 20],
						"listTemplate": {
							"background": {
								"type": "image",
								"file": "/interface/sip/itembackground.png",
								"position": [1, 0],
								"zlevel": -1
							},
							"itemName": {
								"type": "label",
								"position": [25, 5],
								"hAnchor": "left",
								"zlevel": 2,
								"value": "Replace Me"
							},
							"itemRarity": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [11, 9],
								"zlevel": 0,
								"maxSize": [18, 18],
								"visible": true,
								"centered": true
							},
							"itemIcon": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [11, 9],
								"zlevel": 1,
								"maxSize": [18, 18],
								"visible": true,
								"centered": true
							},
							"itemOverlay": {
								"type": "image",
								"file": "/interface/sip/itemoverlay.png",
								"position": [1, 0],
								"zlevel": 1,
								"visible": true
							},
							"rarityIcon": {
								"type": "image",
								"file": "/assetMissing.png",
								"position": [0, 1],
								"zlevel": 0,
								"visible": true
							}
						}
					}
				}
			}
		},

		"sipButtonPrint": {
			"type": "button",
			"base": "/interface/sip/print.png",
			"hover": "/interface/sip/print.png?brightness=30",
			"zlevel": 20,
			"pressedOffset": [0, -1],
			"position": [222, 25],
			"callback": "sip.callback.print"
		},
		"sipImagePrintAmount": {
			"type": "image",
			"file": "/interface/sip/printamount.png",
			"position": [238, 45],
			"zlevel": 20,
			"visible": true
		},
		"sipButtonPrintAmountLess": {
			"type": "button",
			"base": "/interface/sip/less.png",
			"hover": "/interface/sip/less.png?brightness=30",
			"caption": "",
			"fontSize": 7,
			"wrapWidth": 80,
			"hAnchor": "mid",
			"zlevel": 20,
			"data": -1,
			"visible": true,
			"pressedOffset": [0, -1],
			"position": [226, 45],
			"callback": "sip.callback.changeQuantity"
		},
		"sipButtonPrintAmountMore": {
			"type": "button",
			"base": "/interface/sip/more.png",
			"hover": "/interface/sip/more.png?brightness=30",
			"caption": "",
			"fontSize": 7,
			"wrapWidth": 80,
			"hAnchor": "mid",
			"zlevel": 20,
			"data": 1,
			"visible": true,
			"pressedOffset": [0, -1],
			"position": [272, 45],
			"callback": "sip.callback.changeQuantity"
		},
		"sipTextQuantity": {
			"type": "textbox",
			"position": [214, 46],
			"textAlign": "center",
			"hint": "",
			"value": "x1",
			"zlevel": 21,
			"maxWidth": 75,
			"regex": "x?\\d{0,4}",
			"callback": "sip.callback.changeQuantity"
		},

    "buttonPrintBlueprint":{
      "type": "button",
			"base": "/interface/sip/recipe.png",
			"hover": "/interface/sip/recipe.png?brightness=30",
			"zlevel": 20,
			"pressedOffset": [0, -1],
      "disabled": true,
			"position": [200, 25],
			"callback": "sip.callback.printBlueprint"
    },
    "buttonPrintUpgrade":{
      "type": "button",
			"base": "/interface/sip/upgrade.png",
			"hover": "/interface/sip/upgrade.png?brightness=30",
			"zlevel": 20,
			"pressedOffset": [0, -1],
      "disabled": true,
			"position": [288, 25],
			"callback": "sip.callback.printUpgrade"
    },
    "buttonEditor": {
      "type" : "button",
			"base" : "/interface/sip/editor.png",
			"hover" : "/interface/sip/editor.png?brightness=30",
      "visible": false,
			"zlevel" : 20,
			"pressedOffset" : [0, -1],
			"position" : [312, 25],
			"callback" : "sip.callback.openEditor"
    },

		"sipImageSearch": {
			"type": "image",
			"file": "/interface/sip/search.png",
			"position": [6, 28],
			"zlevel": 20
		},
		"sipTextSearch": {
			"type": "textbox",
			"position": [10, 28],
			"textAlign": "left",
			"hint": "Search",
			"zlevel": 21,
			"callback": "sip.callback.search",
			"maxWidth": 72,
			"regex": "[a-zA-Z0-9 '-?!.]{0,28}"
		},
    "sipButtonClearText": {
      "type": "button",
			"base": "/interface/sip/x.png",
			"hover": "/interface/sip/x.png?replace;000000=9E0000",
			"zlevel": 22,
			"pressedOffset": [0, -1],
			"position": [83, 31],
			"callback": "sip.callback.clearText"
    },

		"sipButtonChangeCategory": {
			"type": "button",
			"base": "/interface/sip/featurebutton.png",
			"hover": "/interface/sip/featurebutton.png?brightness=30",
			"caption": "View\nCategories",
			"fontSize": 7,
			"wrapWidth": 80,
			"hAnchor": "mid",
			"zlevel": 20,
			"pressedOffset": [0, -1],
			"position": [174, 185],
			"callback": "sip.callback.changeCategory"
		},
		"sipButtonShowItems": {
			"type": "button",
			"base": "/interface/sip/featurebutton.png",
			"hover": "/interface/sip/featurebutton.png?brightness=30",
			"caption": "Show All\nItems",
			"fontSize": 7,
			"wrapWidth": 80,
			"hAnchor": "mid",
			"zlevel": 20,
			"pressedOffset": [0, -1],
			"position": [228, 185],
			"data": "items",
			"callback": "sip.callback.showType"
		},
		"sipButtonShowObjects": {
			"type": "button",
			"base": "/interface/sip/featurebutton.png",
			"hover": "/interface/sip/featurebutton.png?brightness=30",
			"caption": "Show All\nObjects",
			"fontSize": 7,
			"wrapWidth": 80,
			"hAnchor": "mid",
			"zlevel": 20,
			"pressedOffset": [0, -1],
			"position": [282, 185],
			"data": "objects",
			"callback": "sip.callback.showType"
		},

		"sipCategoryBackground": {
			"type": "image",
			"file": "/interface/sip/categorybackground.png",
			"position": [174, 58],
			"zlevel": 30,
			"visible": false
		},
		"sipCategoryScroll": {
			"type": "scrollArea",
			"zlevel": 31,
			"visible": false,
			"rect": [177, 61, 335, 182],
			"children": {
				"sipCatoryAnchor": {
					"type": "image",
					"position": [0, 0],
					"file": "/assetMissing.png?crop;0;0;0;0",
					"visible": true
				},
				"sipCatoryAnchor2": {
					"type": "image",
					"position": [0, -373],
					"file": "/assetMissing.png?crop;0;0;0;0",
					"visible": true
				},
				"sipCategoryGroup": {
					"type": "radioGroup",
					"toggleMode": true,
					"callback": "sip.callback.selectCategory",
					"position": [0, 0],
					"zlevel": 22,
					"buttons": [{
							"baseImage": "/assetMissing.png",
							"hoverImage": "/assetMissing.png",
							"baseImageChecked": "/assetMissing.png",
							"hoverImageChecked": "/assetMissing.png",
							"pressedOffset": [0, -1],
							"position": [0, 0],
							"visible": false
						}
					]
				}
			}
		},

		"sipImageSelectionIconBackground": {
			"type": "image",
			"file": "/interface/sip/selectioniconbackground.png",
			"position": [310, 159],
			"zlevel": 20,
			"visible": true
		},
		"sipImageSelectionIconSlot": {
			"type": "itemslot",
			"file": "/assetMissing.png",
			"position": [312, 161],
			"zlevel": 22,
			"visible": true,
			"centered": false,
			"callback": "sip.callback.takeItem",
      "rightClickCallback": "null"
		},
		"sipImageSelectionRarity": {
			"type": "image",
			"file": "/interface/sip/rarities/flags/common.png",
			"position": [315, 150],
			"zlevel": 20,
			"visible": true
		},
		"sipLabelSelectionName": {
			"type": "label",
			"position": [248, 174],
			"hAnchor": "mid",
			"vAnchor": "bottom",
			"zlevel": 22,
			"value": "^white,shadow;No item selected.",
			"visible": true,
      "data": {
        "tooltip": {
          "callback": "itemTooltip",
          "direction": "top",
          "position": [255, 197]
        }
      }
		},
		"sipLabelSelectionDescription": {
			"type": "label",
			"position": [178, 171],
			"hAnchor": "left",
			"vAnchor": "top",
			"zlevel": 22,
			"wrapWidth": 127,
			"value": "^white;Selected Item Description.",
			"visible": true
		},
    "sipButtonDice": {
			"type": "button",
			"base": "/interface/title/dice.png",
			"hover": "/interface/title/diceover.png",
			"caption": "",
			"zlevel": 21,
      "visible": false,
			"pressedOffset": [0, -1],
			"position": [312, 131],
			"callback": "sip.callback.randomizeItem"
		},

    "sipLabelSpecifications": {
      "type": "label",
      "position": [255, 117],
      "hAnchor": "mid",
      "vAnchor": "bottom",
      "zlevel": 22,
      "value": "^white,shadow;Specifications",
      "visible": true
    },

    "paneRarity" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [101, 26, 160, 39],
      "zlevel" : 21,
      "children" : {
        "background": {
          "type": "image",
          "file": "/interface/sip/rarities/filters/background.png",
          "position": [0,0]
        },
        "common": {
          "type": "button",
          "base": "/interface/sip/rarities/filters/common.png",
          "hover": "/interface/sip/rarities/filters/common.png?brightness=-60",
          "position": [3, 2],
          "pressedOffset": [0, -1],
          "callback": "sip.callback.toggleRarity",
          "data": "common"
        },
        "uncommon": {
          "type": "button",
          "base": "/interface/sip/rarities/filters/uncommon.png",
          "hover": "/interface/sip/rarities/filters/uncommon.png?brightness=-60",
          "position": [14, 2],
          "pressedOffset": [0, -1],
          "callback": "sip.callback.toggleRarity",
          "data": "uncommon"
        },
        "rare": {
          "type": "button",
          "base": "/interface/sip/rarities/filters/rare.png",
          "hover": "/interface/sip/rarities/filters/rare.png?brightness=-60",
          "position": [25, 2],
          "pressedOffset": [0, -1],
          "callback": "sip.callback.toggleRarity",
          "data": "rare"
        },
        "legendary": {
          "type": "button",
          "base": "/interface/sip/rarities/filters/legendary.png",
          "hover": "/interface/sip/rarities/filters/legendary.png?brightness=-60",
          "position": [36, 2],
          "pressedOffset": [0, -1],
          "callback": "sip.callback.toggleRarity",
          "data": "legendary"
        },
        "essential": {
          "type": "button",
          "base": "/interface/sip/rarities/filters/essential.png",
          "hover": "/interface/sip/rarities/filters/common.png?brightness=-60",
          "position": [47, 2],
          "pressedOffset": [0, -1],
          "callback": "sip.callback.toggleRarity",
          "data": "essential"
        }
      }
    },

    "paneWeapon" : {
      "type" : "layout",
      "visible" : false,
      "zlevel" : 22,
      "layoutType" : "basic",
      "position" : [175, 59],
      "size" : [159, 56],
      "children" : {
        "labelWeaponLevel": {
    			"type": "label",
    			"position": [79, 45],
          "hAnchor": "mid",
    			"zlevel": 30,
    			"value": "^white,shadow;Level"
    		},
        "imageWeaponLevel": {
    			"type": "image",
    			"file": "/interface/sip/printamount.png",
    			"position": [63, 32],
    			"zlevel": 30
    		},
    		"buttonWeaponLevelLess": {
    			"type": "button",
    			"base": "/interface/sip/less.png",
    			"hover": "/interface/sip/less.png?brightness=30",
    			"data": -1,
    			"pressedOffset": [0, -1],
    			"position": [51, 32],
    			"callback": "sip.callback.changeWeaponLevel"
    		},
    		"buttonWeaponLevelMore": {
    			"type": "button",
    			"base": "/interface/sip/more.png",
    			"hover": "/interface/sip/more.png?brightness=30",
    			"data": 1,
    			"pressedOffset": [0, -1],
    			"position": [97, 32],
    			"callback": "sip.callback.changeWeaponLevel"
    		},
    		"textboxWeaponLevel": {
    			"type": "textbox",
    			"position": [39, 32],
    			"textAlign": "center",
    			"hint": "",
    			"value": "1",
          "zlevel": 100,
    			"maxWidth": 75,
    			"regex": "\\d{0,2}",
    			"callback": "sip.callback.changeWeaponLevel"
    		},
        "labelWeaponElement": {
    			"type": "label",
    			"position": [79, 20],
          "hAnchor": "mid",
    			"value": "^white,shadow;Element"
    		},
        "weaponElement": {
          "type": "radioGroup",
          "toggleMode": true,
          "callback": "sip.callback.selectWeaponElement",
          "position": [40, 2],
          "buttons": [
            {
              "baseImage": "/assetMissing.png",
              "hoverImage": "/assetMissing.png",
              "baseImageChecked": "/assetMissing.png",
              "hoverImageChecked": "/assetMissing.png",
              "visible": false
            },
            {
              "baseImage": "/interface/sip/elements/physical.png?brightness=-33",
              "hoverImage": "/interface/sip/elements/physical.png?brightness=15",
              "baseImageChecked": "/interface/sip/elements/physical.png?brightness=5",
              "hoverImageChecked": "/interface/sip/elements/physical.png?brightness=33",
              "pressedOffset": [0, -1],
              "position": [0, 0],
              "data": "physical"
            },
            {
              "baseImage": "/interface/elements/ice.png?brightness=-50",
              "hoverImage": "/interface/elements/ice.png?brightness=15",
              "baseImageChecked": "/interface/elements/ice.png?brightness=5",
              "hoverImageChecked": "/interface/elements/ice.png?brightness=33",
              "pressedOffset": [0, -1],
              "position": [17, 0],
              "data": "ice"
            },
            {
              "baseImage": "/interface/elements/poison.png?brightness=-50",
              "hoverImage": "/interface/elements/poison.png?brightness=15",
              "baseImageChecked": "/interface/elements/poison.png?brightness=5",
              "hoverImageChecked": "/interface/elements/poison.png?brightness=33",
              "pressedOffset": [0, -1],
              "position": [34, 0],
              "data": "poison"
            },
            {
              "baseImage": "/interface/elements/fire.png?brightness=-50",
              "hoverImage": "/interface/elements/fire.png?brightness=15",
              "baseImageChecked": "/interface/elements/fire.png?brightness=5",
              "hoverImageChecked": "/interface/elements/fire.png?brightness=33",
              "pressedOffset": [0, -1],
              "position": [51, 0],
              "data": "fire"
            },
            {
              "baseImage": "/interface/elements/electric.png?brightness=-50",
              "hoverImage": "/interface/elements/electric.png?brightness=15",
              "baseImageChecked": "/interface/elements/electric.png?brightness=5",
              "hoverImageChecked": "/interface/elements/electric.png?brightness=33",
              "pressedOffset": [0, -1],
              "position": [68, 0],
              "data": "electric"
            }
          ]
        }
      }
    },
    "paneClothing": {
      "type" : "layout",
      "visible" : true,
      "zlevel" : 22,
      "layoutType" : "basic",
      "position" : [175, 59],
      "size" : [159, 56],
      "children" : {
        "labelColor": {
    			"type": "label",
    			"position": [79, 38],
          "hAnchor": "mid",
    			"zlevel": 30,
    			"value": "^white,shadow;Color"
    		},
        "clothingColor": {
          "type": "radioGroup",
          "toggleMode": false,
          "callback": "sip.callback.selectClothingColor",
          "position": [41, 14],
          "buttons": [
            {
              "baseImage": "/assetMissing.png",
              "hoverImage": "/assetMissing.png",
              "baseImageChecked": "/assetMissing.png",
              "hoverImageChecked": "/assetMissing.png",
              "visible": false
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [0, 12],
              "data": 0
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [13, 12],
              "data": 1
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [26, 12],
              "data": 2
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [39, 12],
              "data": 3
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [52, 12],
              "data": 4
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [65, 12],
              "data": 5
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [0, 0],
              "data": 6
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [13, 0],
              "data": 7
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [26, 0],
              "data": 8
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [39, 0],
              "data": 9
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [52, 0],
              "data": 10
            },
            {
              "baseImage": "/interface/sip/color.png",
              "hoverImage": "/interface/sip/color.png",
              "baseImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "hoverImageChecked": "/interface/sip/color.png?replace;000000=00AE2C",
              "pressedOffset": [0, -1],
              "position": [65, 0],
              "data": 11
            }
          ]
        }
      }
    },
    "tooltipCanvas": {
      "type": "canvas",
      "rect": [0, 0, 337, 244],
      "captureMouseEvents": false,
      "mouseTransparent": true,
      "zlevel": 99
    },
    "tooltipLabel": {
      "type": "label",
      "hAnchor": "mid",
      "vAnchor": "mid",
      "visible": false
    }
	},

	"scripts": ["/scripts/spawnableItemPack.lua", "/scripts/sip/tooltip/tooltip.lua"],
	"scriptDelta": 1,

	"scriptWidgetCallbacks": [
    "sip.callback.search",
    "sip.callback.clearText",
    "sip.callback.changeCategory",
    "sip.callback.showType",
    "sip.callback.selectItem",
    "sip.callback.print",
    "sip.callback.printBlueprint",
    "sip.callback.printUpgrade",
    "sip.callback.changeQuantity",
    "sip.callback.selectCategory",
    "sip.callback.changeWeaponLevel",
    "sip.callback.selectWeaponElement",
    "sip.callback.selectClothingColor",
    "sip.callback.takeItem",
    "sip.callback.randomizeItem",
    "sip.callback.toggleRarity",
    "sip.callback.openEditor"
	],

	"assets": {
		"rarities": {
      "borders" : {
        "common": "/interface/inventory/itembordercommon.png",
        "uncommon": "/interface/inventory/itemborderuncommon.png",
        "rare": "/interface/inventory/itemborderrare.png",
        "legendary": "/interface/inventory/itemborderlegendary.png",
        "essential": "/interface/inventory/itemborderessential.png"
      },
      "flags": {
  			"common": "/interface/sip/rarities/flags/common.png",
        "uncommon": "/interface/sip/rarities/flags/uncommon.png",
  			"rare": "/interface/sip/rarities/flags/rare.png",
  			"legendary": "/interface/sip/rarities/flags/legendary.png",
  			"essential": "/interface/sip/rarities/flags/essential.png"
      }
		}
	},
	"widgetNames": {
		"quantity": "sipTextQuantity",
		"itemList": "sipItemScroll.sipItemList",
    "changeCategory": "sipButtonChangeCategory",
    "showItems": "sipButtonShowItems",
    "showObjects": "sipButtonShowObjects",
		"search": "sipTextSearch",
		"categoryBackground": "sipCategoryBackground",
		"categoryScrollArea": "sipCategoryScroll",
    "categoryGroup": "sipCategoryScroll.sipCategoryGroup",
		"itemName": "sipLabelSelectionName",
		"itemDescription": "sipLabelSelectionDescription",
		"itemRarity": "sipImageSelectionRarity",
		"itemSlot": "sipImageSelectionIconSlot",
    "labelWeaponLevel": "paneWeapon.labelWeaponLevel",
    "weaponLevel": "paneWeapon.textboxWeaponLevel",
    "dice": "sipButtonDice",
    "labelSpecifications": "sipLabelSpecifications",
    "specificationPanes" : {
      "weaponPane": "paneWeapon",
      "clothingPane": "paneClothing"
    },
    "labelWeaponElement" : "paneWeapon.labelWeaponElement",
    "weaponElement": "paneWeapon.weaponElement",
    "elementOptions" : {
      "none": -1,
      "physical": 0,
      "ice": 1,
      "poison": 2,
      "fire": 3,
      "electric": 4
    },
    "labelClothingColor": "paneClothing.labelColor",
    "blueprint": "buttonPrintBlueprint",
    "upgrade": "buttonPrintUpgrade",
    "editor": "buttonEditor"
	},
  "knownCategories": {
    "items": [
      "currency", "headwear", "chestwear", "legwear", "backwear",
      "headarmour", "chestarmour", "legarmour", "enviroprotectionpack",
      "broadsword", "fistweapon", "chakram", "axe", "dagger", "hammer", "spear",
      "shortsword", "whip", "melee", "ranged", "sniperrifle", "boomerang", "bow",
      "shotgun", "assaultrifle", "machinepistol", "rocketlauncher", "pistol",
      "grenadelauncher", "staff", "wand", "throwableitem", "shield",
      "vehiclecontroller", "railplatform", "upgrade", "shiplicense",
      "mysteriousreward", "toy", "clothingdye", "medicine", "drink", "food",
      "preparedfood", "craftingmaterial", "cookingingredient", "upgradecomponent",
      "smallfossil", "mediumfossil", "largefossil", "codex", "quest", "junk",
      "currency", "trophy", "tradingcard", "eppaugment", "petcollar",
      "musicalinstrument", "tool"
    ],
    "objects": [
      "object", ".object", "genboss", "terraformer", "materials",
      "liqitem", "supports", "railpoint", "decorative", "actionfigure",
      "artifact", "breakable", "bug", "crafting", "spawner", "door", "light",
      "storage", "furniture", "trap", "wire", "sapling", "seed", "other",
      "generic", "teleportmarker"
    ]
  },
  "colorButtonImages" : {
    "base": "/interface/sip/color.png",
    "hover": "/interface/sip/color.png",
    "pressed": "/interface/sip/color.png"
  },
  "pressedColorButtonImages" : {
    "base": "/interface/sip/color.png?replace;000000=00AE2C",
    "hover": "/interface/sip/color.png?replace;000000=00AE2C",
    "pressed": "/interface/sip/color.png?replace;000000=00AE2C"
  },

  "tooltip": {
    "canvas": "tooltipCanvas",
    "label": "tooltipLabel"
  }
}
