<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpawnableItemFetcherGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SpawnableItemFetcherGUI.Properties.Settings>
            <setting name="Extensions" serializeAs="String">
                <value>.activeitem;.object;.codex;.head;.chest;.legs;.back;.augment;.currency;.coinitem;.item;.consumable;.unlock;.instrument;.liqitem;.matitem;.thrownitem;.harvestingtool;.flashlight;.grapplinghook;.painttool;.wiretool;.beamaxe;.tillingtool;.miningtool;.techitem;.mechitem</value>
            </setting>
            <setting name="Blacklist" serializeAs="String">
                <value>filledcapturepod;npcpetcapturepod</value>
            </setting>
        </SpawnableItemFetcherGUI.Properties.Settings>
    </userSettings>
</configuration>
